*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menubar{
    background-color: #1C3C52;
    text-align: center;
    opacity: 0.9;
   /* border-radius: 10px;*/
}
.menubar:hover{
    color: #dcdcdc;
}
.menubar ul{
    text-align: center;
    display: inline-flex;
    list-style: none;
}
.menubar ul li{
    width: 155px;
    margin: 10px;
    padding: 15px;
   
}
.menubar ul li a {
text-decoration: none;
color: white;
}

.menubar ul li:hover{
    background-color:#3e89bb;
    border-style:initial;
    border-radius: 10px;
}
body {
    background-image: url('/lake-6641880_1280.jpg'); /* Resmin URL'si */
    background-size: cover; /* Resmi, sayfanın tamamına uyacak şekilde ölçeklendirir */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
    height: 100vh; /* Sayfanın yüksekliğini tam ekran yapar */
    margin: 0;
    font-family: Arial, sans-serif;
    color: white; /* Metin rengini beyaz yapar */
}

.no{
    text-align: center;
    margin-top: 50px;
    user-select: none;
}
.nov{
    text-align: center;
    margin-top: 50px;
    user-select: none;
    color: aquamarine;
}
@keyframes ghost {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.no h1 {
    font-size: 24px;
    margin: 20px 0;
    /*color: #111;*/
    animation: ghost 3s ease-in-out infinite;
}

.nov h2 {
    font-size: 18px;
    margin: 10px 0;
   /* color: #444;*/
}